.photo-details-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(8, 8, 8, 0.669);
  position: fixed;
  top: 51%;
  left: 50%;
  // right: 0;
  // bottom: 0;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 57.5vw;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal--images {
  
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal--image {
  margin-left: 110px;
  width: 80%;
  // border-bottom: 2px solid;
}

.photo-details-modal--user {
  margin-left: 40px;
  font-weight: bold;
}

.photo-details-modal--userlocation {
  margin-left: 40px;
}
            

.photo-details-modal--favicon {
  position: relative;
  top: 10px;
  left: 110px;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 2px;
  padding-left: 30px;
  width: 90%;
}
